
.breadcrumb {
 display: flex;
 align-items: center;
 justify-content: center;
 font-weight: bold;
 font-size : 20px;
}

.breadcrumb a {
  color: #666;
  text-decoration: none;
  transition: 0.3s;
}

.breadcrumb a:hover {
  color: #E6635A;
}

.title-bar {
  margin: 0px auto;
  gap: 15px;
  text-align: center;
}

.title-bar h1 {
  font-size: 26px;
  font-weight: 600;
  color: #222;
}

.title-bar p {
  font-size: 16px;
  color: #666;
}
.shoes-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 25px;
  justify-items: center;
  padding: 10px 0;
  max-width: 1300px;
  margin: auto;
}

.shoe-card {
  text-align: center;
  cursor: pointer;
  opacity: 0;
  animation: fadeInUp 0.6s ease forwards;
}

.shoe-card img {
  width: 150px;
  height: 190px;
  border-radius: 8px;
  object-fit: cover;
  transition: 0.3s ease;
}

.shoe-card:hover img {
  transform: scale(1.08);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
}

.shoe-card p {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #222;
  transition: 0.3s;
}

.shoe-card:hover p {
  color: #E6635A;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* BUTTON */
.toggle-btn {
  display: block;
  margin: 35px auto;
  padding: 12px 34px;
  border: 2px solid #222;
  background: white;
  border-radius: 30px;
  font-size: 17px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.toggle-btn:hover {
  background: black;
  color: white;
}



/* RESPONSIVE */
@media (max-width: 1024px) {
  .shoes-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 600px) {
  .shoes-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .shoe-card img {
    width: 120px;
    height: 160px;
  }
}

@media (max-width: 600px) {
  .title-bar {
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }

  .title-bar h1 {
    font-size: 22px;
  }
}

