.details-container {
  display: flex;
  gap: 40px;
  margin: 40px auto;
  max-width: 1200px;
}

/******** LEFT ********/
.left-section {
  flex: 1;
}

.main-img {
  width: 100%;
  height: 500px;
  border-radius: 14px;
  object-fit: cover;
  border: 1px solid #ddd;
}

/******** RIGHT ********/
.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.price {
  font-size: 22px;
  font-weight: 600;
  color: #222;
}

.desc {
  font-size: 16px;
  color: #444;
  line-height: 1.5;
  max-width: 450px;
}

.add-btn {
  width: fit-content;
  padding: 12px 26px;
  font-size: 16px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  transition: .2s;
}

.add-btn:hover {
  background-color: #333;
}

/***** LOADING *****/
.loading {
  text-align: center;
  font-size: 22px;
  margin-top: 200px;
}

/***** RESPONSIVE *****/
@media (max-width: 900px) {
  .details-container {
    flex-direction: column;
    padding: 20px;
  }

  .main-img {
    height: 350px;
  }
}
